<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Full Lyrics</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/estilobase.css">
	{% block links %}
	{% endblock %}
</head>
<body>
	<header>
		<div class="navbar navbar-inverse" id="navbar">
			<div class="navbar-inner">
				<a class="brand">Full Lyrics</a>
				<ul class="nav" id="nav">
		     		<li class="active"><a href="/">Home</a></li>
		      		<li><a href="#">Artistas</a></li>
		      		<li><a href="#">About</a></li>
		    	</ul>
		    	<form class="navbar-search pull-left" id="buscar">
		      		<input type="text" class="search-query" placeholder="Buscar Canción">
		    	</form>
		  	</div>
		</div>
	</header>
	{% block contenido %}
	{% endblock %}
	<footer>
		<div>
			<p>
				Powered by:
				<ul>
					<li><a href="https://www.djangoproject.com/" target="_blank">Django Project</a></li>
					<li><a href="http://www.lastfm.es/home" target="_blank">Last.fm</a></li>
					<li><a href="http://getbootstrap.com/2.3.2/index.html" target="_blank">Bootstrap by Twitter</a></li>
				</ul>
			</p>
		</div>
	</footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/codigo.js"></script>
	{% block scripts %}
	{% endblock %}
</body> 
</html>